@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
}

.container {
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  height: 95vh;
}

.inner {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: inherit;
}

.charcterPage {
  scroll-snap-align: start;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(auto, 30vw));
}

.charcterPage h2 {
  grid-area: 1/1 / span 1 / span 3;
}

.charcterPage img:nth-of-type(1) {
  height: 20vh;
  justify-self: flex-start;
  grid-area: 2/1 / span 1 / span 1;
}

.charcterPage img:nth-of-type(2) {
  align-self: center;
  justify-content: flex-start;
  grid-area: 2/3 / span 2 / span 1;
}

.charcterPage img:nth-of-type(3) {
  grid-area: 3/1 / span 1 / span 2;
  align-self: flex-end;
  justify-self: center;
}

h1 {
  font-size: 7vh;
  width: 30vh;
  border: 1vw solid black;
  text-align: center;
  border-radius: 15px;
}

.logo {
  animation: moveIn 1s ease-in-out forwards 1;
  width: 10vh;
}

@keyframes moveIn {
  0% {
    transform: translateX(-100vw) rotate(-60deg);
  }

  90% {
    transform: rotate(-60deg);
  }
}

header {
  height: 5vh;
  box-shadow: 1px 1px 2px 1px lightgrey;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}

ul {
  list-style: none;
  display: flex;
  width: 50vh;
  justify-content: space-evenly;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
}

.imageSliderContainer {
  grid-area: 2/1 / span 1 / span 3;

  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

.imageSlider {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  max-width: 50%;
}

.imageSlider img {
  height: 70vh;
  object-fit: contain;
}

.quote {
  scroll-snap-align: start;
  display: flex;
  min-width: 100%;
  height: 200px;
  border: 1px solid;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
}

.quote h4 {
  margin-top: 2vw;
}