* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}



h1 {
  font-size: 7vw;
  width: 30vw;
  border: 1vw solid black;
  text-align: center;
  border-radius: 15px;
}


.logo {
  animation: moveIn 1s ease-in-out forwards 1;
  width: 5vw;

}

@keyframes moveIn {
  0% {

    transform: translateX(-100vw) rotate(-60deg);
  }

  90% {
    transform: rotate(-60deg);
  }
}